:root{
--fcolor: #6900ff;    
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon {
    font-size: 2rem;
    color: var(--fcolor);
}

.purple{
    color: var(--fcolor);
}